<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alexander Maru</title>
    <meta name="author" content="Alexander Maru">
    <meta name="description" content="Student, programmer, aspiring mathematician.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,400i,600,700,900">
  </head>

  <body>
    <%= render 'partials/header' %>
    <%= yield %>
    <%= render 'partials/footer' %>
  </body>
</html>
